body {
    margin:50px;
    background-image: url(/img/bodybackground.jfif);
    background-size: cover;
}

h1 {
    font-size: 50px;
}

.Main-Container {
    padding: 25px;
    margin: auto;
    position: relative;
    background-color: steelblue;
    width: 800px;
    height: 800px;
    text-align: center;
    border-radius: %;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#adder-div {
    margin-left: 30%;
    padding: 20px;
    width: 280px;
    border-width: thin;
    background-color: rgba(68, 134, 189, 0.842);
    border-color: rgb(76, 150, 211);
    text-align: center;
    border-radius: 5%;
    box-shadow: 0px 0.2px 7px rgb(52, 88, 143);


}

h1 {
 font-size: ;
}


display: grid;
    grid-template-columns: repeat(3,1fr);
